In [ ]:
  import pandas as pd
import numpy as np

df = pd.read_csv('Titanic-Dataset.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('Titanic-Dataset.csv')

In [ ]:
print(df.head(),"///")
print(df.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare    Cabin Embarked  Age_forward_fill  \
0      0         A/5 21171   7.2500  unknown        S              22.0
1      0          PC 17599  71.2833      C85        C              38.0
2      0  STON/O2. 3101282   7.9250  unknown        S              26.0
3      0            113803  53.1000     C123        S              35.0
4      0            373450   8.0500  unknown        S              35.0

   Age_backward_fill  Sex_encoded  Fare_scaled
0               22.0            1    -0.502163
1               38.0            0     0.786404
2               26.0            0    -0.488580
3               35.0            0     0.420494
4               35.0            1    -0.486064   ///
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PassengerId        891 non-null    int64
 1   Survived           891 non-null    int64
 2   Pclass             891 non-null    int64
 3   Name               891 non-null    object
 4   Sex                891 non-null    object
 5   Age                714 non-null    float64
 6   SibSp              891 non-null    int64
 7   Parch              891 non-null    int64
 8   Ticket             891 non-null    object
 9   Fare               891 non-null    float64
 10  Cabin              891 non-null    object
 11  Embarked           889 non-null    object
 12  Age_forward_fill   891 non-null    float64
 13  Age_backward_fill  891 non-null    float64
 14  Sex_encoded        891 non-null    int64
 15  Fare_scaled        891 non-null    float64
dtypes: float64(5), int64(6), object(5)
memory usage: 111.5+ KB
None

In [ ]:
df['Age_forward_fill'] = df['Age'].ffill()
df['Age_backward_fill'] = df['Age'].bfill()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_forward_fill,Age_backward_fill
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,22.0,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35.0,35.0

In [ ]:
df['Cabin'] = df['Cabin'].fillna("unknown")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_forward_fill,Age_backward_fill
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,unknown,S,22.0,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,unknown,S,26.0,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,unknown,S,35.0,35.0

In [ ]:
df = df.drop_duplicates()

In [ ]:
df['Sex_encoded'] = np.where(df['Sex'] == 'male', 1, 0)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_forward_fill,Age_backward_fill,Sex_encoded
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,unknown,S,22.0,22.0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,38.0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,unknown,S,26.0,26.0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,35.0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,unknown,S,35.0,35.0,1

In [ ]:
fare_mean = df['Fare'].mean()
fare_std = df['Fare'].std()
df['Fare_scaled'] = (df['Fare'] - fare_mean) / fare_std
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_forward_fill,Age_backward_fill,Sex_encoded,Fare_scaled
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,unknown,S,22.0,22.0,1,-0.502163
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,38.0,0,0.786404
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,unknown,S,26.0,26.0,0,-0.488580
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,35.0,0,0.420494
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,unknown,S,35.0,35.0,1,-0.486064

In [ ]:
print(df[['Pclass', 'Sex_encoded', 'Age', 'SibSp']].head())

   Pclass  Sex_encoded   Age  SibSp
0       3            1  22.0      1
1       1            0  38.0      1
2       3            0  26.0      0
3       1            0  35.0      1
4       3            1  35.0      0

In [ ]:
corr = df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].corr()
print(corr)

          Pclass       Age     SibSp     Parch      Fare
Pclass  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age    -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp   0.083081 -0.308247  1.000000  0.414838  0.159651
Parch   0.018443 -0.189119  0.414838  1.000000  0.216225
Fare   -0.549500  0.096067  0.159651  0.216225  1.000000

In [ ]:
import numpy as np
import pandas as pd
a=pd.DataFrame({
    'a':[1,2,np.nan,6],
    'b':[4,5,np.nan,5]
})
b=a.fillna("unknown")
print(b)

         a        b
0      1.0      4.0
1      2.0      5.0
2  unknown  unknown
3      6.0      5.0

In [ ]:
import numpy as np
import pandas as pd
c=pd.Series([1,2,3])
d=pd.DataFrame({
    'a':[4,5,6],
    'b':[7,8,9]
})
print(c+d)

    a   b   0   1   2
0 NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN